[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tqdm = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
tensorflow = "*"
tensorflow-gpu = "*"
sentiment-neuron = {editable = true,path = "."}

[dev-packages]

[requires]
python_version = "3.6"
