[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tensorflow-gpu = "*"
sentiment-neuron = {editable = true,path = "."}
progressbar2 = "*"

[dev-packages]

[requires]
python_version = "3.6"
